APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync


MAIL_DRIVER=smtp
MAIL_HOST=smtp.mandrilapp.com
MAIL_PORT=587
MAIL_USERNAME=php2.laddder@gmail.com
MAIL_PASSWORD=qD4vSs1i5E-ZFbkegA5siA
MAIL_ENCRYPTION=tls


MANDRIL_SECRET=qD4vSs1i5E-ZFbkegA5siA